<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') -%>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') -%>

    <main class="container">
      <%- include('../partials/messages.ejs') -%>
      <h1>New Post</h1>
      <form action="/topics/<%= topicId %>/posts/create" method="post">
        <div class="form-group">
          <label for="title">Post title</label>
          <input type="text" class="form-control bg-dark text-light" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
          <small class="text-muted" id="titleHelp">title must be 2 or more characters in length.</small>
        </div>
        <div class="form-group">
          <label for="body">Post body</label>
          <textarea rows="4" class="form-control bg-dark text-light" name="body" placeholder="Enter Post body"></textarea>
          <small class="text-muted" id="bodyHelp">body must be 10 or more characters in length.</small>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </main>

    <%- include('../partials/baseScripts.ejs') -%>

  </body>
</html>