<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') -%>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') -%>

    <main class="container">
      <%- include('../partials/messages.ejs') -%>
      <h1><%= post.title %></h1>

      <% if (currentUser) { %> 
        <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
        <% if (currentUser.isAdmin()) { %>
          <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        <% } %>
      <% } %>

      <p><%= post.body %></p>
    </main>

    <%- include('../partials/baseScripts.ejs') -%>

  </body>
</html>