<!DOCTYPE html>
<html>
  <!DOCTYPE html>
  <html>
    <head>
      <%- include('../partials/head.ejs') -%>
    </head>
    <body>
      <%- include('../partials/navbar.ejs') -%>
  
      <main class="container">
        <%- include('../partials/messages.ejs') -%>

        <div style="display: flex; align-items:center;">
          <h1><%= post.title %></h1>
          <% if(currentUser) { %>
            <%- include('../votes/voting.ejs') -%>
          <% } %>
        </div>
  
        <% if (currentUser) { %> 
          <% if (currentUser.id === post.userId || currentUser.isAdmin()) { %>
            <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
            <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        <% } %>

        <% if(currentUser) { %>
          <%- include('../favorites/favoriting.ejs') -%>
        <% } %>
        <p><%= post.body %></p>
        <section id="comment-form">
   
          <% if(currentUser) { %>
            <% include ../comments/new.ejs %>
          <% } %>
         </section>
   
         <section id="comment-list">
          <% if(post.comments) { %>
            <% post.comments.forEach((comment) => { %>
      
              <%- include("../comments/show.ejs", {comment}) %>
            <% }) %>
          <% } %>
         </section>
      </main>

      <%- include('../partials/baseScripts.ejs') -%>
  
    </body>
  </html>